/* Styling Umum untuk Semua Elemen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

/* Navbar */
.navbar {
  background-color: #ffffff; /* Warna latar belakang hijau */
  padding: 20px;
  color: black;
  display: flex;
  justify-content: flex-end; /* Menempatkan elemen-elemen di sebelah kanan */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Navbar di atas */
}

.navbar .user-info {
  display: flex;
  align-items: center;
  color: black;
}

.navbar .user-info .username {
  margin-right: 10px; /* Memberikan jarak antara username dan foto profil */
}

.navbar .user-info .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


/* Sidebar Styling */
.sidebar {
  background-color: #ffffff;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000; /* Sidebar di bawah navbar */
}

.sidebar .logo {
  font-size: 1.5em;
  color: #4caf50;
}

.sidebar .menu {
  margin-top: 30px;
}

.sidebar .menu-item {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar .menu-item:hover {
  background-color: #f4f4f4;
}

.sidebar .menu-item.active {
  background-color: #4caf50;
  color: white;
}
.sidebar.bottom-menu {
  margin-top: 50px;
}

.sidebar .bottom-menu .menu-item {
  margin-bottom: 10px;
}

.sidebar .logout {
  color: red;
}


/* Main Content */
.main-content {
  margin-left: 110px; /* Memberikan ruang untuk sidebar */
  padding: 30px;
  margin-top: 20px; /* Memberikan ruang untuk navbar */
  flex: 1;
  display: flex;
  gap: 30px;
}

/* Kolom Pencarian */
.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Responsif */
@media (max-width: 768px) {
  /* Layout yang lebih ramah perangkat mobile */
  .main-content {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  /* Sidebar tidak fixed di layar kecil */
  .sidebar {
    position: static;
    width: 100%;
  }
}
